<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== FAVICON ===============-->
      <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

      <!--=============== REMIXICONS ===============-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

      <!--=============== SWIPER CSS ===============-->
      <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="assets/css/styles.css">

      <!-- 引入样式 -->
      <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
      
      <title>图书借阅管理系统</title>
   </head>
   <body>
      <div>
         <!--==================== HEADER ====================-->
         <header class="header" id="header">
            <nav class="nav container">
               <a href="#" class="nav__logo">
                  <i class="ri-book-3-line"></i> 图书借阅管理系统
               </a>
               <div class="nav__menu">
                  <ul class="nav__list">
                     <li class="nav__item">
                        <a href="#home" class="nav__link active-link" title="主页">
                           <i class="ri-home-line"></i>
                           <span>主页</span>
                        </a>
                     </li>
                     <li class="nav__item">
                        <a href="#featured" class="nav__link">
                           <i class="ri-book-3-line"></i>
                           <span>书籍</span>
                        </a>
                     </li>
                     <li class="nav__item">
                        <a href="#discount" class="nav__link" title="作者">
                           <i class="ri-user-3-line"></i>
                           <span>作者</span>
                        </a>
                     </li>
                     <li class="nav__item">
                        <a href="#new" class="nav__link" title="书库">
                           <i class="ri-bookmark-line"></i>
                           <span>书库</span>
                        </a>
                     </li>
                     <li class="nav__item">
                        <a href="#author" class="nav__link" title="借阅记录">
                           <i class="ri-inbox-unarchive-line"></i>
                           <span>借阅记录</span>
                        </a>
                     </li>
                  </ul>
               </div>

               <div class="nav__actions">
                  <!-- Search button -->
                  <i class="ri-search-line search-button" id="search-button" title="搜索"></i>
                  
                  <!-- Login -->
                  <i class="ri-user-line login-button" id="login-button" title="登录"></i>

                  <!-- Theme button -->
                  <i class="ri-moon-line change-theme" id="theme-button" title="切换主题"></i>
               </div>
            </nav>
         </header>

         <!--==================== SEARCH ====================-->
         <div class="search" id="search-content">
            <form action="" class="search__form">
               <i class="ri-search-line search__icon"></i>
               <input type="search" placeholder="点我开始搜索" class="search__input">
            </form>

            <i class="ri-close-line search__close" id="search-close"></i>
         </div>

         <!--==================== LOGIN ====================-->
         <div class="login grid" id="login-content">
            <form action="" class="login__form grid">
               <h3 class="login_title">Log In</h3>

               <div class="login__group grid">
                  <div>
                     <lable class="login__lable" for="login-tel">邮箱</lable>
                     <input type="tel" placeholder="填写你的手机号码" id="login-tel" class="login__input">
                  </div>

                  <div>
                     <lable class="login__lable" for="login-pass">密码</lable>
                     <input type="password" placeholder="输入密码" id="login-pass" class="login__input">
                  </div>
               </div>

               <div>
                  <span class="login__signup">
                     还没有账号? <div id="go-regist" class="go__regist">注册</div>
                  </span>

                  <a href="#" class="login__forgot">
                     忘记密码?
                  </a>
                  <button type="submit" class="login__button button">登录</button>
               </div>
            </form>

            <i class="ri-close-line login__close" id="login-close"></i>
         </div>

         <!--==================== REGIST ====================-->
         <div class="regist grid" id="regist-content">
            <form action="" class="regist__form grid">
               <h3 class="regist_title">Regist</h3>

               <div class="regist__group grid">
                  <div>
                     <lable class="regist__lable" for="regist-tel">手机</lable>
                     <input type="tel" placeholder="填写你的手机号码" id="regist-tel" class="regist__input">
                  </div>

                  <div>
                     <lable class="regist__lable" for="regist-pass">密码</lable>
                     <input type="password" placeholder="输入密码" id="regist-pass" class="regist__input">
                  </div>
               </div>

               <div>
                  <span class="regist__login">
                     已有账号? <div id="go-login" class="go__login">登录</div>
                  </span>

                  <button type="submit" class="regist__button button">登录</button>
               </div>
            </form>

            <i class="ri-close-line regist__close" id="regist-close"></i>
         </div>

         <!--==================== MAIN ====================-->
         <main class="main" id="main">
            <!--==================== HOME ====================-->
            <section class="home section" id="home">
               <div class="home__container container grid">
                  <div class="home__data">
                     <h1 class="home__title">
                        Browse & <br>
                        Select Books
                     </h1>

                     <p class="home__description">
                        从你最喜欢的作家那里找到最好的书籍，浏览数百本各种可能类别的书，享受阅读的乐趣。
                     </p>

                     <a href="#featured" class="button">Explore Now</a>
                  </div>

                  <div class="home__images">
                     <div class="home__swiper swiper">
                        <div class="swiper-wrapper">
                           <article class="home__article swiper-slide">
                              <img src="assets/img/home-book-1.png" alt="image" class="home__img">
                           </article>

                           <article class="home__article swiper-slide">
                              <img src="assets/img/home-book-2.png" alt="image" class="home__img">
                           </article>

                           <article class="home__article swiper-slide">
                              <img src="assets/img/home-book-3.png" alt="image" class="home__img">
                           </article>

                           <article class="home__article swiper-slide">
                              <img src="assets/img/home-book-4.png" alt="image" class="home__img">
                           </article>
                        </div>
                     </div>
                  </div>
               </div>
            </section>

            <!--==================== SERVICES ====================-->
            <section class="services section">
               <div class="services__container container grid">
                  <article class="services__card">
                     <i class="ri-truck-line"></i>
                     <h3 class="services__title">Free Shipping</h3>
                     <p class="services__description">Order More Than $100</p>
                  </article>

                  <article class="services__card">
                     <i class="ri-lock-2-line"></i>
                     <h3 class="services__title">Secure Payment</h3>
                     <p class="services__description">100% Secure Payment</p>
                  </article>

                  <article class="services__card">
                     <i class="ri-customer-service-2-line"></i>
                     <h3 class="services__title">24/7 Support</h3>
                     <p class="services__description">Call us anytime</p>
                  </article>
               </div>
            </section>

            <!--==================== FEATURED ====================-->
            <section class="featured section" id="featured">
               <h2 class="section__title">
                  Featured Books
               </h2>
               <div class="btnbox">
                  <button class="button add" @click="addBook()">Add</button>
               </div>
               <div class="featured__container container">
                  <div class="featured__swiper swiper">
                     <div class="swiper-wrapper">
                        <article class="featured__card swiper-slide" v-for="(book, index) in books" :key="book.id">
                           <img :src=`assets/img/book-${book.id%11+1}.png` alt="image" class="featured__img">
                           
                           <h2 class="featured__title">{{ book.name }}</h2>
                           <div class="featured__categorys">
                              <span class="featured__categorylabel">类别:</span>
                              <span class="featured__category">{{ book.category }}</span>
                           </div>
                           <div class="btnbox">
                              <button class="button watch" @click="openTable">Watch</button>
                              <button class="button delete" @click="deleteBook(book.id)">Delete</button>
                              <button class="button update" @click="updateBook(book.id)">Update</button>
                           </div>
                           <div class="featured__actions">
                              <button><i class="ri-search-line"></i></button>
                              <button><i class="ri-heart-3-line"></i></button>
                              <button><i class="ri-eye-line"></i></button>
                           </div>
                        </article>
                     </div>

                     <div class="swiper-button-prev">
                        <i class="ri-arrow-left-s-line"></i>
                     </div>
                     <div class="swiper-button-next">
                        <i class="ri-arrow-right-s-line"></i>
                     </div>
                  </div>
               </div>
               <el-dialog title="书本信息" :visible.sync="watchTableVisible">
                  <el-table :data="books" stripe fit>
                    <el-table-column property="id" label="BookID"></el-table-column>
                    <el-table-column property="name" label="Title"></el-table-column>
                    <el-table-column property="AuthorID" label="AuthorID"></el-table-column>
                    <el-table-column property="PublisherID" label="PublisherID"></el-table-column>
                    <el-table-column property="PublicationYear" label="PublicationYear"></el-table-column>
                    <el-table-column property="category" label="Category"></el-table-column>
                    <el-table-column property="IsBorrowed" label="IsBorrowed"></el-table-column>
                    <el-table-column property="BorrowedCounts" label="BorrowedCounts"></el-table-column>
                    <el-table-column property="Description" label="Description"></el-table-column>
                  </el-table>
               </el-dialog>
               <el-dialog title="书本信息修改" :visible.sync="updateFormVisible">
                  <el-form :model="updateForm" label-position="right" label-width="150px">
                     <el-form-item label="Title">
                        <el-input v-model="updateForm.Title" autocomplete="off"></el-input>
                     </el-form-item>
                     <el-form-item label="AuthorID">
                        <el-input v-model.number="updateForm.AuthorID" autocomplete="off"></el-input>
                     </el-form-item>
                     <el-form-item label="PublisherID">
                        <el-input v-model.number="updateForm.PublisherID" autocomplete="off"></el-input>
                     </el-form-item>
                     <el-form-item label="PublicationYear">
                        <el-date-picker v-model="updateForm.PublicationYear" value-format="yyyy" type="year" placeholder="选出版年份">
                      </el-date-picker>
                     </el-form-item>
                     <el-form-item label="Category">
                        <el-select v-model="updateForm.Category" clearable placeholder="请选择分类">
                           <el-option
                             v-for="item in categoryOptions"
                             :key="item.value"
                             :label="item.label"
                             :value="item.value">
                           </el-option>
                        </el-select>
                     </el-form-item>
                     <el-form-item label="IsBorrowed">
                        <el-radio v-model="updateForm.IsBorrowed" label="0">未借出</el-radio>
                        <el-radio v-model="updateForm.IsBorrowed" label="1">已借出</el-radio>
                     </el-form-item>
                     <el-form-item label="Description">
                        <el-input type="textarea" v-model="updateForm.Description" autocomplete="off"></el-input>
                     </el-form-item>
                  </el-form>
                  <div slot="footer" class="dialog-footer">
                     <el-button @click="updateFormVisible = false;updateBookId = ''">取 消</el-button>
                     <el-button type="primary" @click="updateBookConfirm()">确 定</el-button>
                  </div>
               </el-dialog>
               <el-dialog title="新增书本" :visible.sync="addFormVisible">
                  <el-form :model="addForm" label-position="right" label-width="150px">
                     <el-form-item label="BookID">
                        <el-input v-model.number="addForm.BookID" autocomplete="off"></el-input>
                     </el-form-item>
                     <el-form-item label="Title">
                        <el-input v-model="addForm.Title" autocomplete="off"></el-input>
                     </el-form-item>
                     <el-form-item label="AuthorID">
                        <el-input v-model.number="addForm.AuthorID" autocomplete="off"></el-input>
                     </el-form-item>
                     <el-form-item label="PublisherID">
                        <el-input v-model.number="addForm.PublisherID" autocomplete="off"></el-input>
                     </el-form-item>
                     <el-form-item label="PublicationYear">
                        <el-date-picker v-model="addForm.PublicationYear" value-format="yyyy" type="year" placeholder="选出版年份">
                      </el-date-picker>
                     </el-form-item>
                     <el-form-item label="Category">
                        <el-select v-model="addForm.Category" clearable placeholder="请选择分类">
                           <el-option
                             v-for="item in categoryOptions"
                             :key="item.value"
                             :label="item.label"
                             :value="item.value">
                           </el-option>
                        </el-select>
                     </el-form-item>
                     <el-form-item label="IsBorrowed">
                        <el-radio v-model="addForm.IsBorrowed" label="0">未借出</el-radio>
                        <el-radio v-model="addForm.IsBorrowed" label="1">已借出</el-radio>
                     </el-form-item>
                     <el-form-item label="Description">
                        <el-input type="textarea" v-model="addForm.Description" autocomplete="off"></el-input>
                     </el-form-item>
                  </el-form>
                  <div slot="footer" class="dialog-footer">
                     <el-button @click="addFormVisible = false;">取 消</el-button>
                     <el-button type="primary" @click="addBookConfirm()">确 定</el-button>
                  </div>
               </el-dialog>
            </section>

            <!--==================== DISCOUNT ====================-->
            <section class="discount section" id="discount">
               <div class="discount__container container grid">
                  <div class="discount__data">
                     <h2 class="discount__title section__title">
                        Enjoy It!
                     </h2>
      
                     <p class="discount__description">
                        Take advantage of the reading days we 
                        have for you, read books from your favorite 
                        writers, the more you read, the more 
                        enjoy we have for you.
                     </p>
      
                     <a href="#" class="button">Enjoy Now</a>
                  </div>

                  <div class="discount__images">
                     <img src="assets/img/discount-book-1.png" alt="image" class="discount__img-1">
                     <img src="assets/img/discount-book-2.png" alt="image" class="discount__img-2">
                  </div>
               </div>
            </section>

            <!--==================== NEW BOOKS ====================-->
            <section class="new section" id="new">
               <h2 class="section__title">
                  New Books
               </h2>

               <div class="new__container container">
                  <div class="new__swiper swiper">
                     <div class="swiper-wrapper">
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-1.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">小说</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
      
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-2.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">散文</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
      
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-3.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">散文集</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
      
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-4.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">小说</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
      
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-5.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">小说</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
      
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-6.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">小说</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
      
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-7.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">散文集</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
      
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-8.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">散文</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
      
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-9.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">散文</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
      
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-10.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">散文</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>

                  <div class="new__swiper swiper">
                     <div class="swiper-wrapper">
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-10.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">小说</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
      
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-9.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">小说</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
      
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-8.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">小说</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
      
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-7.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">小说</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
      
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-6.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">小说</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
      
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-5.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">小说</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
      
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-4.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">小说</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
      
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-3.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">小说</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
      
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-2.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">小说</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
      
                        <a href="#" class="new__card swiper-slide">
                           <img src="assets/img/book-1.png" alt="image" class="new__img">
                        
                           <div>
                              <h2 class="new__title">New Book</h2>
                              <div class="new__prices">
                                 <span class="new__discount">类别:</span>
                                 <span class="new__price">小说</span>
                              </div>
      
                              <div class="new__stars">
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-fill"></i>
                                 <i class="ri-star-half-fill"></i>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
            </section>

            <!--==================== JOIN ====================-->
            <section class="join section">
               <div class="join__container">
                  <img src="assets/img/join-bg.jpg" alt="image" class="join__bg">
               
                  <div class="join__data container grid">
                     <h2 class="join__title section__title">
                        订阅接收 <br>
                        The Latest Updates
                     </h2>

                     <form action="" class="join__form">
                        <input type="emial" placeholder="输入邮箱" class="join__input">
                        <button type="submit" class="join__button button">订阅</button>
                     </form>
                  </div>
               </div>
            </section>

            <!--==================== author ====================-->
            <section class="author section" id="author">
               <h2 class="section__title">
                  Reader Options
               </h2>
               <div class="btnbox">
                  <button class="button add" @click="addAuthor()">Add</button>
               </div>
               <div class="author__container container">
                  <div class="author__swiper swiper">
                     <div class="swiper-wrapper">
                        <article class="author__card swiper-slide" v-for="author in authors" :key="author.AuthorID">
                           <img :src=`assets/img/${author.AuthorName}.jpg` alt="image" class="author__img">
                        
                           <h2 class="author__title">{{ author.AuthorName }}</h2>
                           <p class="author__description">{{ author.ResearchArea }}</p>
                        </article>
                     </div>
                  </div>
               </div>
               <el-dialog title="新增作者" :visible.sync="addFormVisible">
                  <el-form :model="addForm" label-position="right" label-width="150px">
                     <el-form-item label="AuthorID">
                        <el-input v-model.number="author.AuthorID" autocomplete="off"></el-input>
                     </el-form-item>
                     <el-form-item label="AuthorName">
                        <el-input v-model="author.AuthorName" autocomplete="off"></el-input>
                     </el-form-item>
                     <el-form-item label="ResearchArea">
                        <el-input v-model="author.ResearchArea" autocomplete="off"></el-input>
                     </el-form-item>
                  </el-form>
                  <div slot="footer" class="dialog-footer">
                     <el-button @click="addFormVisible = false;">取 消</el-button>
                     <el-button type="primary" @click="addAuthorConfirm()">确 定</el-button>
                  </div>
               </el-dialog>
            </section>
         </main>

         <!--==================== FOOTER ====================-->
         <footer class="footer">
            <div class="footer__container container grid">
               <div>
                  <a href="#" class="footer__logo">
                     <i class="ri-book-3-line"></i> Book
                  </a>

                  <p class="footer__description">
                     Find and explore the best <br>
                     Books from all your <br>
                     favorite writers.
                  </p>
               </div>

               <div class="footer__data grid">
                  <div>
                     <h3 class="footer__title">About</h3>

                     <ul class="footer__links">
                        <li>
                           <a href="#" class="footer__link">Awards</a>
                        </li>

                        <li>
                           <a href="#" class="footer__link">FAQS</a>
                        </li>

                        <li>
                           <a href="#" class="footer__link">Privacy policy</a>
                        </li>

                        <li>
                           <a href="#" class="footer__link">Terms of services</a>
                        </li>
                     </ul>
                  </div>

                  <div>
                     <h3 class="footer__title">Company</h3>

                     <ul class="footer__links">
                        <li>
                           <a href="#" class="footer__link">Blogs</a>
                        </li>

                        <li>
                           <a href="#" class="footer__link">Community</a>
                        </li>

                        <li>
                           <a href="#" class="footer__link">Our team</a>
                        </li>
                        
                        <li>
                           <a href="#" class="footer__link">Help center</a>
                        </li>
                     </ul>
                  </div>

                  <div>
                     <h3 class="footer__title">Contact</h3>

                     <ul class="footer__links">
                        <li>
                           <address class="footer__info">
                              FZU
                           </address>
                        </li>
                     </ul>
                  </div>

                  <div>
                     <h3 class="footer__title"></h3>

                     <div class="footer___social">
                        <a href="https://github.com/xiaoyangii" target="_blank" class="footer__social-link">
                           <i class="ri-github-line"></i>
                        </a>

                        <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                           <i class="ri-facebook-circle-line"></i>
                        </a>

                        <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                           <i class="ri-instagram-line"></i>
                        </a>
                     </div>
                  </div>
               </div>
            </div>

            <span class="footer__copy">
               &#169; All Rights Reserved By xxx
            </span>
         </footer>

         <!--========== SCROLL UP ==========-->
         <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line"></i>
         </a>
      </div>
      <script src="assets/js/vue.js"></script>
      <!-- 引入组件库 -->
      <script src="https://unpkg.com/element-ui/lib/index.js"></script>
      <!--=============== SCROLLREVEAL ===============-->
      <script src="assets/js/scrollreveal.min.js"></script>
      <!--=============== SWIPER JS ===============-->
      <script src="assets/js/swiper-bundle.min.js"></script>
      <!--=============== MAIN JS ===============-->
      <script src="assets/js/main.js"></script>
      <script type="text/javascript">
         Vue.config.productionTip = false
         var app1 = new Vue({
            el: '#featured',
            data: {
               seen: true,
               books: [
                  { id: 1, IsBorrowed: 0, category: '小说', name: 'book1', AuthorID: 10, img: 'assets/img/book-1.png'},
                  { id: 2, IsBorrowed: 0, category: '小说', name: 'book2', AuthorID: 11, img: 'assets/img/book-2.png'},
                  { id: 3, IsBorrowed: 0, category: '小说', name: 'book3', AuthorID: 12, img: 'assets/img/book-3.png'},
                  { id: 4, IsBorrowed: 0, category: '散文', name: 'book4', AuthorID: 13, img: 'assets/img/book-4.png'},
                  { id: 5, IsBorrowed: 0, category: '小说', name: 'book5', AuthorID: 13, img: 'assets/img/book-5.png'},
                  { id: 6, IsBorrowed: 0, category: '散文', name: 'book6', AuthorID: 13, img: 'assets/img/book-6.png'},
               ],
               updateForm: {
                  Title: '',
                  AuthorID: '',
                  PublisherID: '',
                  PublicationYear: '',
                  Category: '',
                  IsBorrowed: '',
                  Description: '',
               },
               categoryOptions: [{
                  value: '小说',
                  label: '小说'
               }, {
                  value: '散文',
                  label: '散文'
               }, {
                  value: '散文集',
                  label: '散文集'
               }, {
                  value: '诗歌',
                  label: '诗歌'
               }, {
                  value: '戏剧',
                  label: '戏剧'
               }],
               updateBookId: '',
               addForm: {
                  BookID: '',
                  Title: '',
                  AuthorID: '',
                  PublisherID: '',
                  PublicationYear: '',
                  Category: '',
                  IsBorrowed: '',
                  Description: '',
               },
               watchTableVisible: false,
               updateFormVisible: false,
               addFormVisible: false,
               formLabelWidth: '120px',
               labelPosition: 'right',
            },
            methods: {
               openTable() {
                  this.watchTableVisible = true
               },
               deleteBook(id) {
                  this.$confirm('此操作将永久删除该书本, 是否继续?', '提示', {
                     confirmButtonText: '确定',
                     cancelButtonText: '取消',
                     type: 'warning'
                  }).then(() => {
                     //  deleteBook请求！！！！
                     console.log(id)
                     // this.books = this.books.filter(item => item.id !== id)
                     this.$message({
                        type: 'success',
                        message: '删除成功!'
                     })
                  }).catch(() => {
                     this.$message({
                        type: 'info',
                        message: '已取消删除'
                     })          
                  })
               },
               updateBook(id) {
                  this.updateFormVisible = true
                  this.updateBookId = id
                  console.log(id)
               },
               updateBookConfirm() {
                  // updateBook请求！！！！
                  this.updateFormVisible = false
                  this.updateBookId = ''
                  this.$message({
                     type: 'success',
                     message: '修改成功!'
                  })
               },
               addBook() {
                  this.addFormVisible = true
               },
               addBookConfirm() {
                  // addBook请求！！！！
                  this.addFormVisible = false
                  this.$message({
                     type: 'success',
                     message: '添加成功!'
                  })
               }
            },
            mounted() {
               let swiperFeatured = new Swiper('.featured__swiper', {
                  loop: false,
                  spaceBetween: 16,
                  grabCursor: true,
                  slidesPerView: 'auto',
                  centeredSlides: 'auto',
                  
                  navigation: {
                     nextEl: '.swiper-button-next',
                     prevEl: '.swiper-button-prev',
                  },
                  breakpoints: {
                     1150: {
                        slidesPerView: 4,
                        centeredSlides: false,
                     },
                  },
               })
               sr.reveal(`.home__data, .featured__container, .new__container, .join__data, .footer`)
               sr.reveal(`.home__images`, { delay: 600 })
               sr.reveal(`.services__card`, { interval: 600 })
               sr.reveal(`.discount__data`, { origin: 'left' })
               sr.reveal(`.discount__images`, { origin: 'right' })
            },
            created() {
               
            },
         })
         var app2 = new Vue({
            el: '#author',
            data: {
               authors: [
                  { AuthorID: 1, AuthorName: 'J.K. Rowling', ResearchArea: '小说家' },
                  { AuthorID: 2, AuthorName: 'George Orwell', ResearchArea: '作家、新闻记者、社会评论家' },
                  { AuthorID: 3, AuthorName: '鲁迅', ResearchArea: '作家、文学家、思想家、文化评论家' },
               ],
               author: {
                  AuthorID: '',
                  AuthorName: '',
                  ResearchArea: '',
               },
               addFormVisible: false,
            },
            methods: {
               addAuthor() {
                  this.addFormVisible = true
               },
               addAuthorConfirm() {
                  // addAuthor请求！！！！
                  this.addFormVisible = false
                  this.$message({
                     type: 'success',
                     message: '添加成功!'
                  })
               }
            },
            mounted() {
               let swiperAuthor = new Swiper('.author__swiper', {
                  loop: true,
                  spaceBetween: 16,
                  grabCursor: true,
                  slidesPerView: 'auto',
                  centeredSlides: 'auto',
                  breakpoints: {
                     1150: {
                        slidesPerView: 3,
                        centeredSlides: false,
                     },
                  },
               })
               sr.reveal(`.author__container`)
            }
         })
 
     </script>
   </body>
</html>